@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizapp{
  width: 100%;
  max-width: 470px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
}

.bar{
    margin-top: 5px;
    width: 100%;
    height: 2px;
    background-color: #4e085f;
}

.quiz{
    margin-top: 20px;
}

.quiz h3{
    margin-bottom: 20px;
    user-select: none;
}


.quiz .btn{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid rgb(189, 147, 228);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.quiz .btn:hover:not([disabled]){
    background-color: #922464;
    color: white;
    border: 2px solid #922464;
}
.quiz .btn:disabled{
    cursor: no-drop;
}

.quiz .next{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    background-color: #153677;
    outline: 0;
    border: 0;
    color: white;
    font-size: 0.9rem;
    letter-spacing: .1em;
    border-radius: 5px;
    cursor: pointer;
}
.quiz .next:hover{
    background-color: #0c2046;
}

.correct{
    background-color: green;
    color: white;
}
.incorrect{
    background-color: red;
    color: white;
}